

.coverImageUpcomingGames {

    max-width: 100%;

    max-height: 25rem;
    
    

    object-fit: contain;
   
    
    
}


.blogControlsIcon {

    width: 20px;
    height: 20px;
}


.back-icon:hover {
 color: #B00C0C

}
