


.vertical-text {
    writing-mode: vertical-rl;
   
}



.campaign-container-list {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .campaign-container-list:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  