

.main_window_cookie{ 

    background-color: white;
}


/* Container Styling */
.toggle-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between toggle and label */
    font-family: Arial, sans-serif;
    color: #6b7280; /* Gray color for text */
  }
  
  /* Toggle Container */
  .toggle {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
  }
  
  /* Hide default checkbox */
  .toggle input {
    display: none;
  }
  
  /* Background slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e5e7eb; /* Light gray background */
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }
  

  .slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  
  // active
  input:checked + .slider {
    background-color: #D24949; /* Red background for active */
  }
  
  input:checked + .slider::before {
    transform: translateX(24px);
    background-color: #f8a3a3; /* Light blue knob for active */
  }
  
  /* Focus State */
  input:focus + .slider {
    outline: 2px solid #D24949;
    outline-offset: 2px;
  }
  