

.image_editProfile {

    
  width: 97px;
  height: 97px;
  object-fit: cover;
  border-radius: 50%;
  //padding: 15px;
}



.edit-photo {
    color: #DEDEDE;
    cursor: pointer;
    user-select: none;
}




.flag-photo {
    width: 86px;
    height: 60px;
    object-fit: cover;

}


// a line.. 
hr {
    border-color: #DEDEDE;
}



.editProfileFields {
    
}


.passport-photo {
    border: 3px solid #AF2626;
    border-radius: 11px;

    //object-fit , it needs to show whole passport in whole.. 
}



.filepond--root,
.filepond--root .filepond--drop-label  {
    width: 331px;
  height: 222px;
  


  
  

}
