

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }



th, td {
    
    text-align: start;
    vertical-align: middle;

    padding: 4px;
  
   // border: 1px solid #ddd;
   word-wrap: break-word;
      /* 
   border-bottom: 1px solid #C6C6C6; */
  }



tr {
  text-align: start;
}
