/* // for profile picture


.filepond--root,
.filepond--root .filepond--drop-label  {
    width: 90px;
  height: 90px;
  font-size: 8pt;

}    */

/* 
.filepond--root,
.filepond--root .filepond--drop-label  {
    width: 90px;
  height: 90px;
  font-size: 8pt;

}
 */

// you use variables... and for both of them, just use  className="filepond--root small"  or className="filepond--root large". for both instances, set ... and that's it..

.filepond--root,
.filepond--root .filepond--drop-label {
  width: var(--width);
  height: var(--height);
  font-size: var(--font-size);
}

.large {
  --width: 331px;
  --height: 222px;
  --font-size: 12pt; /* Adjust as needed */
}

.small {
  --width: 90px;
  --height: 90px;
  --font-size: 8pt;
}







.image_editProfile {
 // display: block;
    
  width: 97px;
  height: 97px;
  object-fit: cover;
  border-radius: 50%;
  //padding: 15px;

  //border: 60px solid black;
    box-shadow: inset 3px 3px 10px 0 rgb(0, 0, 0, .2);
   // box-sizing: border-box;
  
 
 // box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .2);
  
}




.flag-photo {
  width: 86px;
  height: 60px;
  object-fit: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

}




.edit-photo {
  color: #DEDEDE;
  cursor: pointer;
  user-select: none;
}





