


// for list items..
.list {
  list-style-type: none;
}

.list-item {
 
  display: flex;
  align-items: center;

  padding: 10px;
  cursor: pointer;

  background-color: white;
  
  //border-radius: 5px;
}

.list-item:hover {
  background-color: #F8F8F8;

  color: black;
 // border-radius: 5px;
}

.selected {
  background-color: #FFE9E9;
 /*  color: white; */
 // border-radius: 5px;
}

.icon {
  //margin-right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block; //this is why it didn't want to display in one line
}

// for list items..






// error box
.error_box {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  ///border-color: white;
  border-color: #FFD77C;
  border-radius: 20px;
  background-color: #FFFCF5;
  color: #BD673B;

  
}



// error box
.error_box_rejected {
  border-width: 1px;
  border-style: solid;
  border-color: #FF0000;  /* Bright red border */
  border-radius: 20px;
  background-color: #FFEBEB; /* Light red background */
  color: #8B0000; /* Dark red text */
  padding: 10px; /* Added some padding for better spacing */
}




//-------------------


.circle-campaign {
  position: relative;
  border-radius: 50%;
   width: 150px;
  height: 150px;
  background: linear-gradient(300deg, rgba(237, 172, 42, 1) 30%, rgba(237, 172, 42, 1) 30%, rgba(237, 172, 44, 0) 75%);
  padding: 25px;
}


.circle-campaign::before {
  content: '';
 position: absolute;
 border-radius: 50%;
 top: 50%; 
 left: 50%;
 transform: translate(-50%, -50%); 
 width: 120px;
 height: 120px;
 background: white; 
}


.text-wrapper {
  position: absolute;
 
  

  z-index: 999;
  
}