.side_nav {

  border-width: 1px 1px 1px 1px;
  border-style: solid;

 
  border-color: white;
  border-color: #dedede;
  border-radius: 20px;

  
 
}


// for list items..
.list {
  list-style-type: none;
}

.list-item {
 
  display: flex;
  align-items: center;

  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 11px;
}

.list-item:hover {
  background-color: #f0f0f0;
  color: black;
  border-radius: 11px;
}

.selected {
  background-color: #af2626;
  color: white;
  border-radius: 11px;
}

.icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block; //this is why it didn't want to display in one line
}

// for list items..






// error box
.error_box {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  ///border-color: white;
  border-color: #FFD77C;
  border-radius: 20px;
  background-color: #FFFCF5;
  color: #BD673B;

  
}



// error box
.error_box_rejected {
  border-width: 1px;
  border-style: solid;
  border-color: #FF0000;  /* Bright red border */
  border-radius: 20px;
  background-color: #FFEBEB; /* Light red background */
  color: #8B0000; /* Dark red text */
  padding: 10px; /* Added some padding for better spacing */
}


