.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8); /* 50% transparent background */
    transition: all 0.3s ease;
    z-index: 1000;
    
    height: 120px;
    
  }
  
  .navbar .navbar-logo {
    
    display: block;
    
    margin-left: 5%; 
    margin-top: 2%;

    
    width: 200px; /* Adjust the logo size as needed */
    height: auto;

    transition: opacity 0.3s ease;
  }
  
  .navbar .navbar-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  
  .navbar.scrolled {
    padding-top: 0; 

    // ovo je za sami navbar da li veca ili ne..

    height: 50px;
  }
  
  .navbar.scrolled .navbar-logo {
    display: none; /* Hide the logo when scrolled */

  }
  
  .navbar.scrolled .navbar-content {
   /*  padding: 0.5rem 3rem; */

    padding:  1.5rem 0.5rem;
    background: rgba(255, 255, 255, 1);
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: grey;
  }
  