.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8); /* 50% transparent background */
    transition: all 0.3s ease;
    z-index: 1000;
    
    height: 120px;
    
  }
  

  // logo expanded 
  .navbar .navbar-logo {
    display: block;
    margin-left: 17%; 
    margin-top: 2%;
    width: 200px; /* Adjust the logo size as needed */
    height: auto;

    transition: opacity 0.3s ease;
  }
  
  // links expanded
  .navbar .navbar-content {

    display: flex;
   /*  justify-content: space-around;

    align-items: center; */

    justify-content: center; 
    align-items: center;


    padding: 1rem;
    transition: all 0.3s ease;


    

  }
  


  // ovo je sami navbar, kada je scrolled down
  .navbar.scrolled {
    padding-top: 0; 
    height: 50px;
  }
  
  
  // Hide the logo when scrolled 
  .navbar.scrolled .navbar-logo {
    display: none; 

  }
  

  // content, kada je scrolled, down, onda ima taj svoj dizajn..
  .navbar.scrolled .navbar-content {
   

    display: flex;
     justify-content: space-around;
    align-items: center; 

    
    
    padding: 1rem;
    transition: all 0.3s ease;


  /*   padding:  1rem 0.5rem; */

    background: rgba(255, 255, 255, 1);
  }
  
  // ovo su linkovi unutar navbar 
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease;


    background-color: #AF2626;
    border: none;
    border-radius: 10px;

    padding: 0.5rem 1rem; 
    margin: 0 0.5rem; 


  }

  .navbar.scrolled a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: all 0.3s ease;

    background-color: white;

   


  }
  

  .navbar a:hover {
    color: rgb(211, 211, 211);
  }

  .navbar.scrolled a:hover {
    color: grey;
  }
  