

.main_grid_schedule {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(6, 1fr); 

    grid-gap: 5px; 

    justify-items: center;
    align-items: center;
  }
  


  

.days_grid_schedule {

    justify-self: start;
    padding-left: 35px;
  }
  

.grid_border_bottom{
    border-bottom: 2px solid #ccc;
  }


  
