@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  -webkit-text-fill-color: initial !important;
}


body {
  font-family: 'Poppins', sans-serif;
}


.lexend-font {
    font-family: 'Lexend', sans-serif;
  }
  





/* this is because pagination shows some ::marker */
li::marker {
    content: none;
}


.normal-list li::marker {
  content: normal;
}


code {
  background-color: #f5f5f5; 
  border-radius: 4px;
  padding: 2px 4px; 
 
  font-size: 0.95em; 

}
