@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  -webkit-text-fill-color: initial !important;
}


body {
  font-family: 'Poppins', sans-serif;
}


.lexend-font {
    font-family: 'Lexend', sans-serif;
  }
  

  



*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
	
}

*::-webkit-scrollbar-thumb
{
	background-color: #B00C0C;
	border-radius: 5px;
}




/* this is because pagination shows some ::marker */
li::marker {
    content: none;
}



